<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Выбор времени занятия</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="select" *ngIf="!edit">
      Время занятия <strong>{{ event.start.toString() }}</strong> - <strong>{{ event.start.hour + 1 }}:{{ event.start.minute }}</strong>
    </div>
    <div class="edit" *ngIf="edit">
      Время начала занятия <app-timepicker [eventStartTime]="event.start" (timeSelected)="processSelectedTime($event)"></app-timepicker>
      Время продолжительности занятия <strong>1</strong> час.
    </div>
    <br>
    <label for="training-name">Виберите тренинг:</label>
    <select class="form-control select-training-name" id="training-name" [(ngModel)]="chosenTrainingName">
      <option>Tренировка GraVitiYoga в группе</option>
      <option>Урок GraVitiYoga с персональным инструктором</option>
      <option>Урок классической йоги (дыхание, равновесие, растяжки)</option>
      <option>Массаж шведи, спортивный или классический</option>
      <option>Массаж интуитивный</option>
      <option>Программа индивидуального моделирования тела</option>
      <option>Занятия на тренажерах “ПравИло” и “Лебедь”</option>
    </select>
  </div>
  <div class="modal-footer">
    <button *ngIf="edit" type="button" class="btn btn-outline-dark btn-danger" (click)="c('Set event delete')">Удалить</button>
    <button type="button" class="btn btn-outline-dark btn-default" (click)="c('Close click')">Закрыть</button>
    <button *ngIf="!edit" type="button" class="btn btn-outline-dark btn-success" (click)="c('Set event done')">Выбрать</button>
    <button *ngIf="edit" type="button" class="btn btn-outline-dark btn-info" (click)="c('Set event done')">Редактировать</button>
  </div>
</ng-template>
