<table class="table" *ngIf="!empty()">
  <thead>
  <tr>
    <th>День недели</th>
    <th>Название занятия</th>
    <th>Время занятия</th>
    <th>Стоимость со скидкой</th>
    <th>Скидка</th>
  </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let day of days; let i = index">
      <ng-container *ngFor="let training of trainings[day]; let j = index">
        <tr *ngIf="trainings[day].length > 0">
            <td>{{ day }}</td>
            <td>
              {{ training.trainingEvent.trainingName }}
            </td>
            <td>
              {{ training.trainingEvent.timeSlot.start.toString() }}-{{ training.trainingEvent.timeSlot.finish.toString() }}
            </td>
            <td>v</td>
            <td>v</td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>

<p *ngIf="empty()">Вы не запланировали ни одного занятия.</p>
