<div class="row summary">
  <table class="table" *ngIf="!empty()">
    <thead>
    <tr>
      <th>День недели</th>
      <th>Название занятия</th>
      <th class="align-middle text-center">Время занятия</th>
      <th class="align-middle text-center">Стоимость со скидкой</th>
      <th>Скидка</th>
    </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let day of days; let i = index">
        <ng-container *ngFor="let training of trainings[day]; let j = index">
          <tr *ngIf="trainings[day].length > 0">
              <td>{{ day }}</td>
              <td>{{ training.trainingName }}</td>
              <td class="align-middle text-center">{{ training.timeSlot.start.toString() }} - {{ training.timeSlot.finish.toString() }}</td>
              <td class="align-middle text-center">{{ training.getPrice() }}</td>
              <td *ngIf="training.isPriceDiscounted()"><span class="badge badge-info" *ngFor="let discount of training.discounts">{{ discount.toString() }}</span></td>
              <td *ngIf="!training.isPriceDiscounted()"></td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>

  <p *ngIf="empty()">Вы не запланировали ни одного занятия.</p>
</div>
<div class="row total" *ngIf="!empty()">
  <p class="col-sm-9 text-center">Общая стоимость занятий</p>
  <p class="col-sm-2">{{ this.getWeeklyTotalPrice() }} шекелей</p>
</div>
<br />
<div class="row" *ngIf="!empty()">
  <div class="col-sm-12 text-center">
    <button type="button" class="btn btn-success">Заказать</button>
  </div>

</div>
