<div >
  <app-training-table-entry *ngFor="let training of trainings"
    [training]="training" (notify)="onNotify($event)">
  </app-training-table-entry>
  <div class="row">
      <div class="col-sm-9 total">Всего, сумма:</div>
      <div class="col-sm-1 total">{{ total }}</div>
  </div>
  <div *ngIf="selectedTrainings.length">
    <div class="row">
      <h5>Вы выбрали следующие курсы:</h5>
    </div>
    <div class="row">
      <div class="col-md-10">
        <table class="table table-hover table-striped table-bordere">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Тренинг</th>
            <th scope="col">Цена со скидкой</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of selectedTrainings; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td >{{ item.trainingName }}</td>
            <td>{{ item.selectedPrice}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
