.training {
  margin-bottom: 2px;
}
.training-description {
  background-color: #F0F4C3;
  padding: 1rem;
}
.training-description img {
  border-radius: 50%;
  height: 25px;
}
.training-info {
  background-color: #F4FF81;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  color: #AFB42B;
}
.training-select {
  background-color: #AEEA00;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}
.training-price {
  background-color: #F0F4C3;
  text-align: center;
  padding: 1rem;
}

