.timeslot {
  border-right: solid black 1px;
  border-bottom: solid black 1px;
  padding: 5px;
  font-size: small;
  font-weight: bold;
}
.timeslot:active {
  background-color: white;
}
.timeslot:hover {
  background-color: aliceblue;
}
.timetable-day {
  padding: 0;
}
.day {
  background-color: #AEEA00;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  text-align: center;
  padding: 5px;
}
.selected {
  background-color: greenyellow;
}
